---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, guest!</h1>
			<p>
				Welcome to the official PianoAgency website. Where spionage culture and maybe perhaps fiction go
				hand by hand but you might think at the end of the prose.
				Given some ressemblance to reality that could be out of bounds of the real intent nor the real
				knowledge.
			</p>
			<p>
				Piano Agency staff is by no way affiliated to any lodge nor secret service.
				If you are a secret agent and want to get in touch just comment in the blog section to the intended
				article.
			</p>
		</main>
		<Footer />
	</body>
</html>
